---
{
	markdown: true
}
---
<!DOCTYPE html>
<html lang="{{ site.lang or 'en-US' }}">
	{%- set body = site.body | deepmerge( body | default( {} ) ) -%}

	<head>
		{% include './meta.njk' %}
		{% include './google-fonts.njk' %}
		{% include './ga4.njk' %}
		{% include './styles.njk' %}
		{% include './scripts.head.njk' %}
		{% include './jsonld.njk' %}

		{# --- 👉 Appended <head> items --- #}
		{% for append in body.head.append | default( [] ) %}
			{{ append | safe }}
		{% endfor %}
	</head>

	<body class="{{ body.class | default( '' ) | trim }}">
		<main class="{{ body.main.class | default( '' ) | trim }}">
			{% if content %}
				{% if markdown != false %}
					{{ content | markdown | safe }}
				{% else %}
					{{ content | safe }}
				{% endif %}
			{% endif %}
		</main>

		{% include './scripts.body.njk' %}
	</body>
</html>