{% set title %}{% if title %}{{ title }}{% endif %}{% if site.title and title %} - {% endif %}{% if site.title %}{{ site.title }}{% endif %}{% endset %}

{% set meta = site.meta | deepmerge( meta ) %}
{% set metagen = site.metagen | deepmerge( metagen ) %}

{% if metagen.enabled | default( true ) %}

	{% metagen {
		title: metagen.config.title | default( title ),
		url: metagen.config.url | default( site.baseUrl + ( page.url | default( '' ) ) ),
		desc: metagen.config.desc | default( meta.desc or '' ),
		img: metagen.config.img | default( site.baseUrl + meta.img ),
		img_alt: metagen.config.img_alt | default( site.title ),
		twitter_card_type: metagen.config.twitter_card_type | default( 'summary_large_image' ),
		twitter_handle: metagen.config.twitter_handle | default( meta.twitter or '' ),
		name: metagen.config.name | default( meta.author or '' )
	} %}

{% else %}
	<title>{{ title }}</title>
{% endif %}

<meta name="viewport" content="{{ meta.viewport.content | default ( 'width=device-width, initial-scale=1' ) }}">
