{% for key, script in head.js | default( {} ) %}
	{% if script.src and script.inline %}
		<script type="text/javascript" {{ script.attrs | default( '' ) }}>{% readfile script.src | replace( '/assets/', 'assets/' ) %}</script>
	{% elif script.src %}
		<script type="text/javascript" src="{{ script.src }}" {{ script.attrs | default( '' ) }}></script>
	{% endif %}
{% endfor %}
