{% for key, item in site.jsonld | deepmerge( jsonld ) | default( {} ) %}
	{% if item and item['@type'] and item['@id'] %}
		{% if item['@type'] == 'WebPage' %}
			{% jsonld item['@type'], item['@id'], item, {},
				{
					name: title,
					url: site.baseUrl + page.url,
					description: description
				}
			%}
		{% else %}
			{% jsonld item['@type'], item['@id'], item %}
		{% endif %}
	{% endif %}
{% endfor %}
