{# Site level JSONLD #}
{% for key, item in site.jsonld | default( {} ) %}
	{% if item and item['@type'] and item['@id'] %}
		{% jsonld item['@type'] | arrayUnique, item['@id'], item %}
	{% endif %}
{% endfor %}

{# Base Layout JSONLD #}
{% for key, item in layouts.base.jsonld | default( {} ) %}
	{% if item and item['@type'] and item['@id'] %}
		{% jsonld item['@type'] | arrayUnique, item['@id'], item %}
	{% endif %}
{% endfor %}

{# Page level JSONLD #}
{% for key, item in jsonld | default( {} ) %}
	{% if item and item['@type'] and item['@id'] %}
		{% jsonld item['@type'] | arrayUnique, item['@id'], item %}
	{% endif %}
{% endfor %}
