{%- set meta = site.meta | deepmerge( meta ) | default( {} ) -%}

{% set title %}{% if title %}{{ title }}{% endif %}{% if site.title and title %} - {% endif %}{% if site.title %}{{ site.title }}{% endif %}{% endset %}

{% metagen {

	title: title | default( meta.title ) | default( '' ),
	url: site.baseUrl + ( page.url | default( '' ) ),

	desc: meta.description,

	img: meta.img | default( '' ),
	img_alt: meta.img_alt | default( site.title ),

	twitter_handle: meta.twitter | default( '' ),
	twitter_card_type: meta.twitter_card_type | default( 'summary_large_image' ),

	name: meta.author | default( '' )
} %}
