{% set title %}{% if title %}{{ title }}{% endif %}{% if site.title and title %} - {% endif %}{% if site.title %}{{ site.title }}{% endif %}{% endset %}

{% metagen {
	title: title,
	url: site.baseUrl + ( page.url | default( '' ) ),

	desc: description | default( site.description ) | default( '' ),

	img: img | default( site.img ) | default( '' ),
	img_alt: img_alt | default( site.img_alt ) | default( site.title ),

	twitter_handle: twitter | default( site.twitter ) | default( '' ),
	twitter_card_type: twitter_card_type | default( site.twitter_card_type ) | default( 'summary_large_image' ),

	name: author | default( site.author ) | default( '' )
} %}
