{% from '11ty-starter-common/macros/css.njk' import css %}

{% set disabled = site.disabled | default( [] ) %}

{% if not disabled.includes( 'sanitizeCss' ) %}
	<link rel="stylesheet" href="/assets/css/sanitize.css/assets.css">
	<link rel="stylesheet" href="/assets/css/sanitize.css/forms.css">
	<link rel="stylesheet" href="/assets/css/sanitize.css/reduce-motion.css">
	<link rel="stylesheet" href="/assets/css/sanitize.css/sanitize.css">
	<link rel="stylesheet" href="/assets/css/sanitize.css/system-ui.css">
	<link rel="stylesheet" href="/assets/css/sanitize.css/typography.css">
	<link rel="stylesheet" href="/assets/css/sanitize.css/ui-monospace.css">
{% endif %}

{% if not disabled.includes( 'bootstrapGrid' ) %}
	<link rel="stylesheet" href="/assets/css/boostrap/bootstrap-grid.min.css">
{% endif %}

{# --- 👉 Critical CSS (global) --- #}
{% if ( 'assets/css/critical.css' | fileExists ) %}
	<link rel="stylesheet" href="/assets/css/critical.css">
{% endif %}

{# --- 👉 CSS in <head> --- #}
{{ css( body.head.css | default( {} ) ) }}
{% if not disabled.includes( 'bundle' ) %}
	<style>{% getBundle "css" %}</style>
{% endif %}
