{% macro scripts( js ) %}
	{% for js in js.files %}
		<script type="text/javascript" src="{{ js.src }}" {{ js.attrs | default( '' ) }}></script>
	{% endfor %}

	{% for js in js.inline %}
		<script type="text/javascript">
			{{ js | safe }}
		</script>
	{% endfor %}
{% endmacro %}