{% for item in site.jsonld %}

	{% if false != item %}
		{% if item['@type'] == 'WebPage' %}
			{% jsonld item['@type'], item['@id'], item, {},
				{
					name: title,
					url: site.baseUrl + page.url,
					description: description
				}
			%}
		{% else %}
			{% jsonld item['@type'], item['@id'], item %}
		{% endif %}
	{% endif %}

{% endfor %}
