{% set title %}{% if title %}{{ title }}{% endif %}{% if site.title and title %} - {% endif %}{% if site.title %}{{ site.title }}{% endif %}{% endset %}

{% metagen {
	title: title,
	url: site.baseUrl + ( page.url | default( '' ) ),
	desc: site.meta.desc or '',
	img: site.baseUrl + site.meta.img,
	img_alt: site.title,
	twitter_card_type: 'summary_large_image',
	twitter_handle: site.meta.twitter or '',
	name: site.meta.author or ''
} %}

<meta name="viewport" content="{{ site.meta.viewport.content | default ( 'width=device-width, initial-scale=1' ) }}">
