<p>
	Include me using <code style="background-color: #eee">&#123;&#37; include '/test.html' &#37;&#125;</code>, and you should see me.

	{% if test %}
		{{ test | safe }}
	{% else %}
		<p>Add frontmatter <code>test</code> to test passing data into this include.</p>
	{% endif %}
</p>
